<form action="/api/books" method="POST" id="add_book">
    <div class="new_book">
        <div class="form-group">
            <label for="title" class="text-light">Title</label>
            <input type="hidden" name="id" value="">
            <input type="text" name="title" value="" placeholder="If I Stay">
        </div>
        <div class="form-group">
            <label for="author" class="text-light">Author</label>
            <input type="text" name="author" value="" placeholder="Gayle Forman">
        </div>
        <div class="form-group">
            <label for="status" class="text-light">Status</label>
            <div class="radio inline">
                <input type="radio" id="radio-2" name="status" value="Read">
                <label for="radio-2" class="radio-label">Read</label>
            </div>
            <div class="radio inline">
                <input type="radio" id="radio3" name="status" value="Unread">
                <label for="radio3" class="radio-label">Unread</label>
            </div>
        </div>
        
        <div class="form-group">
            <button type="submit" class="btn text-dark update">Save</button>
        </div>
   
    </div>             
</form>